/* Variables */

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-extragrey: #293449;
  --basic-white: #FFFFFF;
  --basic-black: #000000;

  --special-yellow: #FFBF47;

  --success: #5FBB2D;
  --error: #BA2732;
}

/* Global */
.page {
  height: 100%;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
/*
.inner-page {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Cuprum", sans-serif;
}
*/
.simple-title {
  font-size: 30px;
  line-height: 30px;

  margin: 0;
  padding: 0;

  color: var(--basic-black);
}
.simple-button {
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;

  color: var(--basic-white);
  background-color: var(--basic-red);
}
.simple-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.simple-link {
  text-decoration: none;
}
.link-button {
  font-size: 14px;
  line-height: 18px;

  text-decoration: none;

  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 192px;
  height: 38px;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: var(--basic-white);
  background-color: var(--basic-red);
}

.container {
  width: 940px;

  margin: 0 auto;
}
                         /*   INDEX   */

/*  HEAD TOP  */

.main-header {
  min-height: 320px;

  margin-bottom: 59px;

  background-color: #F1F5F7;
}
.headline-container {
  min-height: 42px;

  margin-bottom: 46px;

  background-color: var(--basic-extragrey);
}
.headline {
  display: flex;
}

.headline a {
  color: var(--basic-white);
}
.headline svg {
  margin-right: 8px;

  fill: rgba(255, 255, 255, 0.5);
}

.logo-button {
  width: 220px;
  height: 42px;

  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
.search {
  display: flex;
}
.search-button {
  width: 43px;
  height: 42px;

  padding: 0;

  border: none;

  background-color: inherit;
}
.search-field {
  width: 228px;
  height: 42px;

  padding: 0;

  border: none;

  background-color: var(--basic-extragrey);
}
.search-field::placeholder {
  color: var(--basic-white);
}
.bookmarks,
.cart,
.checkout {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
}
.checkout {
  background-color: var(--basic-green);
}


.logo-button:active {
  background-color: var(--error);
}

.search:hover svg {
  fill: var(--basic-white);
}
.search-field:focus {
  background-color: var(--basic-white);
}

.bookmarks:hover svg,
.cart:hover svg {
  fill: var(--basic-white);
}
.bookmarks:active,
.cart:active {
  background-color: #161D29;
  color: rgba(255, 255, 255, 0.5);
}
.bookmarks:active .bookmarks-icon,
.cart:active .cart-icon {
  fill: rgba(255, 255, 255, 0.5);
}

.checkout:hover {
  background-color: var(--success);
}
.checkout:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--basic-green);
}



/*  HEAD MIDDLE BOTTOM */

.head-middle-container {
  margin-bottom: 40px;
}
.head-middle {
  display: flex;
  justify-content: space-between;
}
.head-title {
  width: 200px;
  min-height: 69px;

  margin-left: 30px;
}
.head-title h1 {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;

  margin: 0;

  color: var(--basic-red);
}

.head-contacts {
  display: flex;
  flex-direction: column;

  width: 270px;
}
.head-contacts a {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 45px;

  border: 3px solid var(--basic-white);

  color: var(--basic-red);
}
.contacts-icon {
  margin-right: 16px;
}
.head-contacts p {
  font-size: 14px;
  line-height: 24px;

  display: flex;
  justify-content: center;

  margin: 0;
  margin-top: 3px;

  color: #32425C;
}


.user-nav {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.signin-button,
.registration-button,
.user-info-button {
  font-size: 21px;
  line-height: 21px;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 45px;

  border: none;

  cursor: pointer;

  background-color: var(--basic-white);
}
.signin-button {
  width: 120px;

  margin-right: 10px;
}
.signin-icon {
  margin-right: 7px;

  fill: #C5C5C5;
}
.registration-button {
  width: 150px;
}
.user-info-button {
  width: 300px;
}
.user-icon,
.user-logout {
  fill: #C5C5C5;
}
.user-icon {
  margin-right: 21px;
}
.user-logout {
  margin-left: 21px;
}
.my-orders,
.my-account {
  grid-row: 2;

  justify-self: center;

  color: #32425C;
}
.my-orders {
  grid-column: 1 / 2;
}
.user-nav .point {
  grid-column: 2 / 3;

  justify-self: center;
  margin-top: 30%;
}
.my-account {
  grid-column: 3 / 4;
}


.head-bottom-container {
  min-height: 60px;

  margin-bottom: 60px;

  box-shadow: inset 0px -5px 0px #293449;
  background-color: var(--basic-grey);
}
.head-bottom {
  display: flex;

  padding-left: 33px;
  padding-right: 33px;
}
.head-nav {
  width: 940px;
}
.head-nav-list {
  display: flex;
  flex-wrap: wrap;

  min-height: 60px;
}
.head-nav-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  min-width: 100px;
  min-height: 60px;
}
.head-nav-list a {
  color: var(--basic-white);
}

.signin-button:hover,
.registration-button:hover {
  color: var(--basic-red);
}
.signin-button:hover .signin-icon {
  fill: var(--basic-grey);
}
.signin-button:active,
.registration-button:active {
  color: var(--basic-greylight);
  background: rgba(0, 0, 0, 0.0001);
}
.signin-button:active .signin-icon {
  fill: #C5C5C5;
}
.user-info-button:hover .user-icon,
.user-info-button:hover .user-logout {
  fill: var(--basic-grey);
}
.my-orders:hover,
.my-account:hover {
  color: var(--basic-red);
}
.user-info-button:active {
  opacity: 0.5;
}
.my-orders:active,
.my-account:active {
  color: var(--basic-greylight);
}

.head-nav-list li:hover {
  background-color: #293449;
}
.head-nav-list li:active a {
  opacity: 0.5;
}
.head-nav-list li:active {
  background-color: #1D2739;
}

                        /*   PAGE-MAIN   */


/*  CATALOG  */
.main-catalog-container {
  margin-bottom: 59px;
}
.main-catalog {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 123px);
  grid-template-areas:
  "materials tools technics"
  "perforators perforators discount"
  "perforators perforators delivery";
  gap: 20px;
}
.main-catalog-item {
  position: relative;
  display: grid;
  grid-template-areas:
    "catalog-title"
    "catalog-link";
  row-gap: 15px;

  padding: 20px 135px 21px 23px;
}
.main-catalog-item-icon {
  position: absolute;

  margin: 0;
  padding: 0;
}
.main-catalog-item-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;

  grid-area: catalog-title;

  margin: 0;
  padding: 0;

  color: var(--basic-white);
}
.main-catalog-item-button {
  font-size: 14px;
  line-height: 18px;

  text-decoration: none;
  text-transform: uppercase;

  grid-area: catalog-link;

  margin: 0;
  padding: 10px 24px;

  color: var(--basic-white);
  background-color: rgba(255,255,255,0.3);
}

.main-catalog-materials {
  grid-area: materials;

  background-color: var(--special-yellow);
}
.main-catalog-materials img {
  top: 31px;
  left: 213px;
}
.main-catalog-tools {
  grid-area: tools;

  background-color: #3BBCE3;
}
.main-catalog-tools img {
  top: 34px;
  left: 194px;
}
.main-catalog-technics {
  grid-area: technics;

  background-color: #DC91D8;
}
.main-catalog-technics img {
  top: 31px;
  left: 191px;
}
.main-catalog-discount {
  grid-area: discount;

  background-color: #8ED78F;
}
.main-catalog-discount img {
  top: 26px;
  left: 196px;
}
.main-catalog-delivery {
  grid-area: delivery;

  background-color: var(--special-yellow);
}
.main-catalog-delivery img {
  top: 32px;
  left: 191px;
}

.main-catalog-bigItem {
  position: relative;

  width: 620px;

  background-color: var(--basic-greylight);
}
.main-catalog-bigItem-image-1,
.main-catalog-bigItem-image-2 {
  position: absolute;
}
.main-catalog-bigItem-content {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-areas:
    "title"
    "slogan"
    "sliders"
    "bottom";

  padding-left: 25px;
  padding-right: 20px;
}
.main-catalog-bigItem-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;

  text-transform: uppercase;

  grid-area: title;

  margin: 0;
  margin-top: 23px;

  z-index: 1;

  color: var(--basic-white);
}
.main-catalog-bigItem-slogan {
  font-size: 28px;
  line-height: 24px;

  grid-area: slogan;

  margin: 0;
  margin-top: 5px;

  z-index: 1;

  color: var(--basic-white);
}
.main-catalog-bigItem-previousSlide {
  font: inherit;

  grid-area: sliders;

  width: 22px;
  height: 40px;

  border: none;

  margin: 0;
  padding: 0;
  margin-top: 35px;

  z-index: 1;

  cursor: pointer;

  color: inherit;
  background-color: transparent;
}
.main-catalog-bigItem-nextSlide {
  font: inherit;

  grid-area: sliders;

  width: 22px;
  height: 40px;

  border: none;

  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-left: 550px;

  z-index: 1;

  cursor: pointer;

  color: inherit;
  background-color: transparent;
}
.main-catalog-bigItem-button {
  font-size: 14px;
  line-height: 18px;

  grid-area: bottom;

  width: 192px;
  height: 38px;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-top: 39px;
  padding: 11px 46px 9px 46px;

  z-index: 1;

  color: var(--basic-white);
  background-color: var(--basic-red);
}
.main-catalog-bigItem-previousButton {
  grid-area: bottom;

  width: 10px;
  height: 10px;

  margin: 0;
  padding: 0;
  margin-top: 58px;
  margin-left: 270px;

  border: 2px solid var(--basic-white);
  border-radius: 50%;

  z-index: 1;

  cursor: pointer;

  background-color: var(--basic-red);
}
.main-catalog-bigItem-nextButton {
  grid-area: bottom;

  width: 10px;
  height: 10px;

  margin: 0;
  padding: 0;
  margin-top: 58px;
  margin-left: 294px;

  border: 2px solid var(--basic-white);
  border-radius: 50%;

  z-index: 1;

  cursor: pointer;

  background-color: var(--basic-white);
}

.main-catalog-item-button:hover {
  background-color: rgba(197, 197, 197, 0.3);
}
.main-catalog-item-button:active {
  background-color: rgba(169, 169, 169, 0.3);
}
.main-catalog-bigItem-button:hover {
  background-color: #CA2C37;
}
.main-catalog-bigItem-button:active {
  background-color: #BA2732;
}



/*  POPULAR PRODUCTS */

.main-popularProducts-container {
  margin-bottom: 70px;
}
.main-popularProducts {
  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: 20px;
}
.main-popularProducts-head {
  display: grid;
  grid-template-columns: 1fr min-content;

  background-color: #F9F5F0;
}
.main-popularProducts-head h3 {
  text-transform: uppercase;

  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;

  color: #32425C;
}
.main-popularProducts-head a {
  text-transform: uppercase;

  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 25px;
}

.products-items-container {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: 318px;
  column-gap: 20px;
}
.products-item {
  border: 1px solid #EAEAEA;
}
.products-item a {
  display: grid;
  grid-template-rows: 170px min-content min-content min-content;
}
.products-item-image {
  justify-self: center;

  margin-bottom: 5px;
}
.products-item-name {
  font-family: "PT Sans";
  line-height: 20px;
  font-weight: bold;

  text-align: center;

  margin: 0;
  padding: 0;
  margin-bottom: 7px;

  color: var(--basic-black);
}
.products-item-previosPrice {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  text-decoration: line-through;

  text-align: center;

  margin: 0;
  padding: 0;
  margin-bottom: 13px;

  color: #A9A9A9;
}
.products-item .price-button {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  justify-self: center;

  width: 141px;
  height: 38px;

  border: none;

  cursor: pointer;

  color: var(--basic-white);
}
.products-item-cart {
  justify-self: center;
  margin-top: 38px;
}
.products-item-cart .buy {
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;

  width: 135px;
  height: 38px;

  margin-bottom: 10px;

  border: none;
  border-radius: 2px;

  color: var(--basic-white);
  background-color: #63A63E;
}
.products-item-cart .bookmarks {
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;

  border: 3px solid #63A63E;

  width: 135px;
  height: 38px;

  color: #32425C;
  background-color: var(--basic-white);
}

.products-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.products-item:hover .products-item-cart {
  display: block;
}
.products-item:hover .products-item-image {
  display: none;
}
.products-item-cart .buy:hover {
  background-color: var(--success);
}
.products-item-cart .buy:active {
  background-color: #518534;
}
.products-item-cart .bookmarks:hover {
  border: 3px solid #32425C;
}
.products-item-cart .bookmarks:active {
  opacity: 0.5;
}


/* POPULAR MANUFACTURES */

.main-popularManufactures-container {
  margin-bottom: 70px;
}
.main-popularManufactures {
  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: 20px;
}
.main-popularManufactures-head {
  display: grid;
  grid-template-columns: 1fr min-content;

  background-color: #F9F5F0;
}
.main-popularManufactures-head h3 {
  text-transform: uppercase;

  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;

  color: #32425C;
}
.main-popularManufactures-head a {
  text-transform: uppercase;

  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 25px;

  color: var(--basic-white);
}
.main-popularManufactures-items-container {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 20px;
}
.main-popularManufactures-item {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  width: 220px;
  height: 145px;

  border: 1px solid #EAEAEA;
}

.main-popularManufactures-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.main-popularManufactures-item:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}


/*  SERVICES  */

.main-services-container {
  background-color: #F1F5F7;
}
.main-services {
  display: grid;
  grid-template-rows: min-content min-content;
  row-gap: 70px;

  width: 940px;

  margin: 0 auto;
}
.main-services-head {
  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: 25px;
}
.main-services-head h3 {
  text-transform: uppercase;

  margin-top: 64px;
}
.main-services-head p,
.main-services-body-serviceInfo-text {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;

  margin: 0;
  padding: 0;
}
.main-services-body {
  display: grid;
  grid-template-columns: repeat(12, 60px);
  column-gap: 20px;
}
.main-services-body-servicesList {
  position: relative;

  grid-column: 1 / 4;

  width: 240px;
}
.main-services-body-servicesList::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 279px;

  top: -49px;
  right: 0;

  background-image: url("/img/index/main/services/hernya.png");
}
.main-services-body-servicesList-item label {
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}
.main-services-body-servicesList-item input {
  display: none;
}
.main-services-body-servicesList-item label {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  display: flex;
  align-items: center;

  width: 240px;
  height: 61px;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 22px;

  color: var(--basic-white);
  background-color: #32425C;
}

.main-services-body-serviceInfo-list {
  grid-column: 5 / 12;
}
.main-services-body-servicesList-item{}
.delivery-service {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: min-content 1fr;
  gap: 20px;
}
.main-services-body-serviceInfo-title {
  text-transform: uppercase;

  grid-column: 1 / 4;
  grid-row: 1 / 2;

  z-index: 1;

  color: #32425C;
}
.main-services-body-serviceInfo-text {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  z-index: 1;
}
.main-services-image {
  grid-column: 1 / 8;
  grid-row: 1 / 3;

  margin-top: 20px;
  margin-bottom: 4px;

  justify-self: end;
}

.main-services-body-servicesList-item input:hover + label {
  background-color: #293449;
}
.main-services-body-servicesList-item input:checked + label {
  box-shadow: 0px 1px 0px #FFFFFF;

  color: #32425C;
  background-color: var(--basic-white);
}



/*  COMPANY INFO  */
.main-companyInfo-container {
  margin-bottom: 70px;
}
.main-companyInfo {
  display: grid;
  grid-template-columns: repeat(12, 60px);
  column-gap: 20px;

  margin-top: 70px;
}
.main-companyInfo-about {
  grid-column: 1 / 8;

  display: grid;
  grid-template-columns: repeat(8, 60px);
  column-gap: 20px;
}
.main-companyInfo-about h3 {
  text-transform: uppercase;

  grid-column: 1 / 8;

  margin: 0;
  padding: 0;
}
.main-companyInfo-about p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;

  margin: 0;
  margin-top: 24px;

  grid-column: 1 / 7;
}
.main-companyInfo-body-partners-items-container {
  grid-column: 1 / 4;

  margin-left: 35px;
}
.main-companyInfo-body-partners-item {
  margin-bottom: 12px;
}
.main-companyInfo-body-partners-item:last-child {
  margin-bottom: 0;
}
.main-companyInfo-body-partners-item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;


  margin-left: -35px;
  margin-top: 13px;


  background-color: #EE3643;
}
.main-companyInfo-about a {
  grid-column: 1 / 4;

  width: 220px;

  margin-top: 20px;
}

.main-companyInfo-contacts {
  grid-column: 9 / 12;
}
.main-companyInfo-contacts h3 {
  text-transform: uppercase;
}
.main-companyInfo-contacts p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;

  margin: 0;
  margin-top: 24px;
}
.main-companyInfo-contacts img {
  margin-top: 32px;
}
.main-companyInfo-contacts a {
  width: 300px;

  margin-top: 25px;
}


/*  FOOTER  */

.main-footer {
  display: grid;
  grid-template-rows: min-content min-content;

  background-color: #32425C;
}
.top-footer {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 58px;

  margin-bottom: 55px;
}
.top-footer a {
  height: 68px;
}
.top-footer p {
  grid-row: 2;

  margin: 0;
  margin-top: 22px;

  color: var(--basic-white);
}
.footer-site-navigation {
  grid-row: 1 / 3;

  margin-top: 37px;
}
.footer-site-navigation-item {
  display: inline-block;
}
.footer-site-navigation-item a {
  color: var(--basic-white);
}
.footer-site-navigation-item:not(:nth-child(5), :nth-child(9)) {
  margin-right: 53px;
}
.footer-site-navigation-item:nth-child(6) {
  margin-left: 28px;
}
.footer-site-navigation-item:nth-child(n + 6) {
  margin-top: 34px;
}
.footer-site-navigation-item:nth-child(n + 6) a {
  color: #FFD180;
}

.bottom-footer-container {
  background-color: var(--basic-extragrey);
}
.bottom-footer {
  display: grid;
  grid-template-columns: repeat(12, 60px);
  column-gap: 20px;

  margin-top: 35px;
  margin-bottom: 35px;
}
.bottom-footer p {
  font-size: 16px;
  line-height: 18px;

  grid-column: 1 / 5;

  margin: 0;

  color: var(--basic-white);
}
.bottom-footer-social-networks-container {
  grid-column: 5 / 9;
  justify-self: center;

  display: flex;
}
.bottom-footer-social-networks-item {
  width: 44px;
  height: 44px;
}
.bottom-footer-social-networks-item a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  background-color: #212A3A;
}
.bottom-footer-social-networks-item:not(:last-child) {
  margin-right: 3px;
}
.bottom-footer-feedback {
  grid-column: 9 / 11;
}
.bottom-footer-feedback a {
  color: #FFD180;
}
.bottom-footer-developed {
  grid-column: 11 / 13;

  margin-left: 30px;
}
.bottom-footer-developed a {
  color: #FFD180;
}

.footer-site-navigation li:hover a,
.bottom-footer-feedback:hover a,
.bottom-footer-developed:hover a {
  text-decoration: underline;
}
.footer-site-navigation li:active {
  opacity: 0.5;
}
.bottom-footer-social-networks-item a:hover {
  background-color: var(--basic-red);
}
.bottom-footer-feedback:active a,
.bottom-footer-developed:active a {
  color: var(--basic-red);
}




                     /*   CATALOG   */

/*  PRODUCT SECTION  */

.breadcrumbs-container {
  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: 20px;

  margin-top: 21px;
  margin-bottom: 20px;
}
.breadcrumbs-item {
  display: inline;

  margin-right: 40px;
}
.breadcrumbs-item a {
  text-transform: uppercase;

  color: var(--basic-black);
}
.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 10px;
  background-image: url("/img/catalog/icon-right-small.svg");
  background-repeat: no-repeat;

  margin-left: 17px;
  margin-top: 3px;
}
.breadcrumbs-home-icon {
  fill: #C1C6CE;
}

.catalog-product-section-title-container {
  background-color: #F1F5F7;
}
.catalog-product-section-title {
  font-family: "Cuprum";
  font-weight: normal;
  text-transform: uppercase;

  margin-top: 29px;
  margin-bottom: 30px;
  margin-left: 29px;

  color: #32425C;
}


/*  FILTER  */

.catalog-body-container {
  display: grid;
  grid-template-columns: 220px 700px;
  grid-template-areas:
    "filter sort"
    "filter products-list"
    "filter pagination";
  column-gap: 20px;

  margin-bottom: 59px;
}
.catalog-filter-container {
  grid-area: filter;
}
.catalog-filter-container h2 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: "PT Sans", "Cuprum", sans-serif;

  text-transform: uppercase;

  margin: 0;
  margin-bottom: 14px;
  padding: 10px 151px 10px 18px;

  background-color: #F7F3EC;
}

.price-filter {
  margin: 0;
  padding: 0;
  margin-top: 14px;
  margin-bottom: 42px;

  border: none;
}
.price-filter::after {
  position: absolute;
  content: "";
  width: 220px;
  height: 1px;

  margin-top: 25px;

  background-color: var(--basic-black);
}
.price-filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;

  text-transform: uppercase;

  margin-bottom: 10px;
}
.price-slider-container {
  margin-bottom: 9px;

  background-color: #F7F3EC;
}
.price-slider {
  width: 180px;

  margin: 39px 20px;
}
.price-slider-start,
.price-slider-end {
  text-align: center;

  width: 95px;
  height: 39px;

  border: none;

  background-color: #F7F3EC;
}

.manufacturer-filter {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;

  border: none;
}
.manufacturer-filter::after {
  position: absolute;
  content: "";
  width: 220px;
  height: 1px;

  margin-top: 25px;

  background-color: var(--basic-black);
}
.manufacturer-filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;

  text-transform: uppercase;

  margin-bottom: 15px;
}
.filter-tree {
  padding-left: 35px;
}
.filter-tree-item:not(:last-child) {
  margin-bottom: 20px;
}
.filter-tree-item input {
  display: none;
}
.filter-tree-item-label-checkbox {
  font-size: 15px;
  line-height: 19px;

  text-transform: uppercase;
}
.filter-tree-item-label-checkbox::before {
  content: " ";
  position: absolute;
  width: 23px;
  height: 23px;

  margin-left: -35px;

  opacity: 0.6;

  background-image: url("/img/catalog/checkbox-off.svg");
  background-repeat: no-repeat;
}

.power-filter {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  border: none;
}
.power-filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;

  text-transform: uppercase;

  margin-bottom: 20px;
}
.filter-tree-item-label-radio {
  font-size: 15px;
  line-height: 19px;

  text-transform: uppercase;
}
.filter-tree-item-label-radio::before {
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;

  margin-left: -35px;

  opacity: 0.6;

  background-image: url("/img/catalog/radio-off.svg");
  background-repeat: no-repeat;
}

.catalog-filter-button {
  text-transform: uppercase;

  padding: 10px 75px 10px 75px;

  border: 1px solid #E5E5E5;

  background-color: var(--basic-white);
}


.filter-tree-item-checkbox:hover + label::before,
.filter-tree-item-radio:hover + label::before {
  opacity: 0.99;
}

.filter-tree-item-checkbox:checked + label::before {
  width: 27px;
  background-image: url("/img/catalog/checkbox-on.svg");
}
.filter-tree-item-radio:checked + label::before {
  background-image: url("/img/catalog/radio-on.svg");
}

.filter-tree-item-input:disabled + label,
.filter-tree-item-input:disabled + label::before {
  opacity: 0.4;
}



/*   SORT  */

.catalog-sort-container {
  grid-area: sort;

  display: grid;
  grid-template-columns: 220px 460px;
  column-gap: 20px;

  margin-bottom: 28px;

  background-color: #F7F3EC;
}
.catalog-sort-container h2 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: "PT Sans", "Cuprum", sans-serif;

  text-transform: uppercase;

  margin-left: 20px;

  background-color: #F7F3EC;
}
.catalog-sort-container form {
  margin-top: 10px;
}
.sort-options,
.sort-askdesk {
  display: inline;
}
.sort-options-item,
.sort-askdesk-item {
  display: inline;
}
.sort-options-item:not(:first-child) {
  margin-left: 65px;
}
.sort-options-item input,
.sort-askdesk-item input {
  display: none;
}
.sort-options-item input + label {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: "PT Sans", "Cuprum", sans-serif;

  text-transform: uppercase;

  border-bottom: 2px solid var(--basic-red);

  opacity: 0.3;
}

.sort-askdesk {
  margin-left: 45px;
}
.sort-askdesk-item:not(:first-child) {
  margin-left: 20px;
}
.sort-askdesk-icon {
  fill: #C5C5C5;
}


.sort-options-item-input:hover + label {
  opacity: 1;
}
.sort-options-item-input:checked + label {
  border: none;

  opacity: 1;

  color: var(--basic-red);
}
.sort-askdesk-icon:hover {
  fill: var(--basic-black);
}
.sort-askdesk-item-input:checked + label .sort-askdesk-icon {
  fill: var(--basic-red);
}



/*  PRODUCTS LIST  */


.catalog-products-list-container {
  grid-area: products-list;

  margin-bottom: 30px;
}
.catalog-products-items-container {
  grid-template-columns: repeat(3, 220px);
}
.catalog-products-items-container li {
  margin-bottom: 18px;
}


/*  PAGINATION  */

.pagination-list-container {
  grid-area: pagination;
}
.pagination-list-item {
  display: inline-block;

  text-align: center;

  box-sizing: border-box;

  width: 38px;
  height: 38px;

  margin-right: 10px;

  border: 1px solid #E5E5E5;
  border-radius: 2px;
}
.pagination-list-item a {
  line-height: 38px;

  color: var(--basic-black);
}
.next-list {
  width: 140px;
}
.next-list a {
  text-transform: uppercase;
}
.current-pagination {
  background-color: var(--basic-red);
}
.current-pagination a {
  color: var(--basic-white);
}

.pagination-list-item:hover {
  border: 1px solid #C5C5C5;
}
.pagination-list-item:active {
  border: 1px solid var(--basic-red);
}



/*  ABOUT PRODUCT  */

.catalog-aboutProduct-container {
  padding-top: 64px;
  padding-bottom: 68px;

  background-color: #F1F5F7;
}
.catalog-aboutProduct {}
.catalog-aboutProduct h2 {
  font-family: "PT Sans", "Cuprum", sans-serif;

  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  text-transform: uppercase;
}
.catalog-aboutProduct p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Cuprum", sans-serif;
}


