/* Variables */

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-extragrey: #293449;
  --basic-white: #FFFFFF;
  --basic-black: #000000;

  --special-yellow: #FFBF47;

  --success: #5FBB2D;
  --error: #BA2732;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.simple-title {
  font-size: 30px;
  line-height: 30px;

  color: var(--basic-black);
}
.simple-button {
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;

  color: var(--basic-white);
  background-color: var(--basic-red);
}
.simple-list {
  list-style: none;
}
.simple-link {
  text-decoration: none;
}




/*  HEADLINE  */

.main-header {
  background-color: #F1F5F7;
}
.headline-container {
  background-color: var(--basic-extragrey);
}
.headline a {
  color: var(--basic-white);
}
.headline svg {
  fill: rgba(255, 255, 255, 0.5);
}
.logo-button {
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
.headline input {
  border: none;

  background-color: var(--basic-extragrey);
}
.head-search input::placeholder {
  color: var(--basic-white);
}

.logo-button:active {
  background-color: var(--error);
}
.head-search input:focus {
  background-color: var(--basic-white);

}
.head-search input:focus .head-search-icon {
  fill: var(--basic-red);
}
.head-search:hover svg,
.head-bookmarks:hover svg,
.head-cart:hover svg {
  fill: var(--basic-white);
}
.head-bookmarks:active,
.head-cart:active {
  background-color: #161D29;
}
.checkout {
  background-color: var(--basic-green);
}
.checkout:hover {
  background-color: var(--success);
}
.checkout:active a {
  color: rgba(255, 255, 255, 0.5);
}



/*  HEAD  */

.head h1 {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;

  color: var(--basic-red);
}
.head-contacts a {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  border: 3px solid var(--basic-white);

  color: var(--basic-red);
}
.head-contacts p {
  font-size: 14px;
  line-height: 24px;

  color: #32425C;
}
.head-signin-button,
.head-registration-button {
  font-size: 21px;
  line-height: 21px;

  border: none;

  background-color: var(--basic-white);
}
.head-signin-icon {
  fill: #C5C5C5;
}
.head-nav-container {
  background-color: var(--basic-grey);
}
.head-nav ul li a {
  color: var(--basic-white);
}

.head-signin-button:hover,
.head-registration-button:hover {
  color: var(--basic-red);
}
.head-signin-button:hover .head-signin-icon {
  fill: var(--basic-grey);
}
.head-signin-button:active,
.head-registration-button:active {
  color: var(--basic-greylight);
  background: rgba(0, 0, 0, 0.0001);
}
.head-signin-button:active .head-signin-icon {
  fill: #C5C5C5;
}
.head-nav ul li:hover {
  background-color: #293449;
}
.head-nav ul li:active a {
  opacity: 0.5;
  background-color: #1D2739;
}


/*  CATALOG  */

.main-catalog-item-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;

  color: var(--basic-white);
}
.main-catalog-item-button {
  border: none;

  opacity: 0.3;
}
.main-catalog-item-button a {
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
  color: var(--basic-white);

}
.main-catalog-materials {
  background-color: var(--special-yellow);
}
.main-catalog-tools {
  background-color: #3BBCE3;
}
.main-catalog-technics {
  background-color: #DC91D8;
}
.main-catalog-discount {
  background-color: #8ED78F;
}
.main-catalog-delivery {
  background-color: var(--special-yellow);
}
.main-catalog-bigItem {
  background-color: var(--basic-greylight);
}
.main-catalog-bigItem-name {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;

  text-transform: uppercase;

  color: var(--basic-white);
}
.main-catalog-bigItem-slogan {
  color: var(--basic-white);
}
.main-catalog-bigItem-button a {
  font-size: 14px;
  line-height: 18px;

  color: var(--basic-white);
}

.main-catalog-item-button:hover {
  background-color: var(--basic-greylight);
}
.main-catalog-item-button:active {
  background-color: #A9A9A9;
}
.main-catalog-bigItem-button:hover {
  background-color: #CA2C37;
}
.main-catalog-bigItem-button:active {
  background-color: #BA2732;
}



/*  POPULAR PRODUCTS */

.main-popularProducts-head {
  background-color: #F9F5F0;
}
.main-popularProducts-head h3 {
  font-size: 30px;
  line-height: 30px;

  text-transform: uppercase;

  color: #32425C;
}
.main-popularProducts-head button a {
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;

  color: var(--basic-white);
}
.main-popularProducts-item {
  border: 1px solid #EAEAEA;
}
.main-popularProducts-item-name {
  font-family: "PT Sans";
  line-height: 20px;
  font-weight: bold;

  color: var(--basic-black);
}
.main-popularProducts-item-previosPrice {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  text-decoration: line-through;

  color: #A9A9A9;
}
.main-popularProducts-item .price-button {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  color: var(--basic-white);
}
.product-item-cart .buy {
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;

  color: var(--basic-white);
  background-color: #63A63E;
}
.product-item-cart .bookmarks {
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;

  border: 3px solid #63A63E;

  color: #32425C;
  background-color: var(--basic-white);
}

.main-popularProducts-item:hover {
  background-color: #C4C4C4;

  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.main-popularProducts-item:hover .product-item-cart {
  display: block;
}
.main-popularProducts-item:hover .product-item-image {
  display: none;
}
.product-item-cart .buy:hover {
  background-color: var(--success);
}
.product-item-cart .buy:active {
  background-color: #518534;
}
.product-item-cart .bookmarks:hover {
  border: 3px solid #32425C;
}
.product-item-cart .bookmarks:active {
  opacity: 0.5;
}


/* POPULAR MANUFACTURES */
.main-popularManufactures-head {
  background-color: #F9F5F0;
}
.main-popularManufactures-head h3 {
  font-size: 30px;
  line-height: 30px;

  text-transform: uppercase;

  color: #32425C;
}
.main-popularManufactures-head button a {
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;

  color: var(--basic-white);
}
.main-popularManufactures-item {
  border: 1px solid #EAEAEA;
}

.main-popularManufactures-item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}
.main-popularManufactures-item:active {
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}




















/*
a {
  text-decoration: none;
  color: var(--basic-white);
}
button {
  background-color: var(--basic-red);
  border: none;
}


.main-header {
  background-color: #F1F5F7;
}
.headline {
  background-color: var(--basic-grey);
}
.head-search input {
  background-color: inherit;
  border: none;
}
.checkout {
  background-color: var(--basic-green);
}
.head-content h1 {
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}
.head-content-contacts a {
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 2px solid var(--basic-white);
}
.head-content-contacts p {
  color: var(--basic-grey);
}
.head-content button {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: none;
}
.head-bottom-nav-container {
  background-color: var(--basic-grey);
}
.head-bottom-nav-container ul {
  list-style: none;
}



.main-catalog-bigItem img,
.main-popularProducts-items-container img,
.main-popularManufactures-list-container img {
  max-width: 100%;
  height: auto;
}
.main-catalog-item-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
}
.main-catalog-item button {
  background-color: rgba(255,255,255, 0.3);
  border: none;
}
.main-catalog-item a {
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.main-catalog-materials {
  background-color: var(--special-yellow);
}
.main-catalog-tools {
  background-color: #3BBCE3;
}
.main-catalog-technics {
  background-color: #DC91D8;
}
.main-catalog-discount {
  background-color: #8ED78F;
}
.main-catalog-delivery {
  background-color: var(--special-yellow);
}
.main-catalog-bigItem {
  color: var(--basic-white);
}
.main-catalog-bigItem-name {
  font-size: 36px;
  line-height: 36px;
}
.main-catalog-bigItem-slogan {
  font-size: 18px;
}
.main-catalog-bigItem button {
  line-height: 18px;
}
.main-popularProducts-head,
.main-popularManufactures-head {
  background-color: #F9F5F0;
}
.main-popularProducts-head h3,
.main-popularManufactures-head h3,
.main-services-head h3,
.main-companyInfo-body h3,
.main-companyInfo-contacts h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.main-popularProducts-head button,
.main-popularManufactures-head button,
.main-companyInfo-body button,
.main-companyInfo-contacts button {
  line-height: 18px;
  text-transform: uppercase;
}
.main-popularProducts-items ul,
.main-popularManufactures ul,
.main-services-body-servicesList ul,
.mainfooter ul,
.subfooter ul {
  list-style: none;
}
.main-popularProducts-items-list li {
  border: 1px solid #EAEAEA;
  font-weight: 700;
  text-transform: uppercase;
}
.main-popularProducts-items-name {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}
.main-popularProducts-items-previosPrice {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #A9A9A9;
}
.main-popularProducts-items-currentPrice {
  font-size: 17px;
  line-height: 18px;
}
.main-popularManufactures-items-list li {
  border: 1px solid #EAEAEA;
}
.main-services-container {
  background-color: #F1F5F7;
}
.main-services-head p {
  font-size: 13px;
  line-height: 24px;
}
.main-services-body-servicesList li {
  background-color: #32425C;
}
.main-companyInfo-body,
.main-companyInfo-contacts {
  color: var(--basic-black);
}
.main-companyInfo-body p,
.main-companyInfo-contacts p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
}



.mainfooter {
  background-color: var(--basic-grey);
}
.mainfooter p {
  color: #F3F7F9;
}
.subfooter-container {
  background-color: var(--basic-extragrey);
}
.subfooter-container p {
  color: var(--basic-white);
}
.subfooter-social-networks li {
  background-color: #212A3A;
}
*/
